/**************** TAbs ***************/
.tabs {
    max-width: 100%;

}
.sort {
    position: relative;
    z-index: 2;
}
.style-1{margin-top: 20px;}
.tabs span{}

.tabs h2{
    font-size: 18px;
    margin: 0;
}

.ui-tabs-vertical { width: 100%; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 30%; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 60%;}

#vtabs .ui-tabs-nav li.ui-tabs-active{
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #DDDDDD #FFFFFF #DDDDDD #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
}

#vtabs .ui-tabs-nav li.ui-tabs-active a{
	font-weight: bold;
}

.style-2 #vtabs .ui-tabs-nav li a{
  padding: 15px 30px !important;
}  

#vtabs .ui-tabs-nav li{
	width:100%;
}

.style-1 h2{}
.style-2 h2{}
/*********************************** Feed Tabs  *******************/
/* Rotator Styles */
.ui-tabs-nav li {
    background: none repeat scroll 0 0 #F3F3F3;
    border-color: #CCCCCC;
  -webkit-border-radius: 3px 3px 0 0;
     -moz-border-radius: 3px 3px 0 0;
          border-radius: 3px 3px 0 0;
    border-style: solid;
    border-width: 1px;
    color: #424242;
    float: left;
    margin-left: -1px;
    text-align: center;
}
.ui-tabs-nav li:first-child {
    margin-left: 0;
}
.ui-tabs-nav li a {
    color: #2A323A;
    font-size: 14px;
    font-weight: bold;
    padding: 9px 14px;
}
.style-1 .ui-tabs-nav li a {	line-height: 20px;}
.ui-tabs-nav li a span {
    color: #818B95;
    font-size: 16px;
    left: -5px;
    margin-left: -4px;
    padding-right: 7px;
	padding-left: 7px; 
    position: relative;
    top: -1px;
}
.ui-tabs-nav li.ui-tabs-selected a span {
    color: #6FB554;
}

/* Tabs */
.sort ul.ui-tabs-nav, li.ui-tabs-nav-item, li.ui-tabs-nav-item a:link, li.ui-tabs-nav-item a:visited {
    float: left;
}
.sort ul.ui-tabs-nav {
    background: none repeat scroll 0 0 transparent;
    margin-left: 0;
    min-height: 36px;
    z-index: 1;
}
/* Non-Selected Tabs */
.sort li.ui-tabs-nav-item a:link, .sort li.ui-tabs-nav-item a:visited {
}

/* Active Tab */
.ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited, .ui-tabs-nav .ui-tabs-selected a:hover, .ui-tabs-nav .ui-tabs-selected a:active {
    color: #6FB554;
}
.style-1 .ui-tabs-nav .ui-tabs-selected a:link{ 
 line-height: 29px;
}
.ui-tabs-nav li.ui-tabs-selected {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: medium none #FFFFFF;
    line-height: 29px;
    margin-top: -8px;
}

/* Content Panels */
.tabs-data {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DBDBDB;
    clear: both;
    padding: 10px 14px;
    position: relative;
    top: -1px;
}
.ui-tabs-panel {

}
.ui-tabs-panel ul{}
.ui-tabs-panel li {
    border-top: 1px solid #CCCCCC;
    padding: 5px 8px;
}
.ui-tabs-panel li:first-child {
    border-top: medium none;
    padding-top: 2px;
}
.ui-tabs-panel li a {
    color: #151010;
    font-size: 12px;
    padding: 5px 0;
}

 .ui-tabs-hide {
	display:none;
}
/************* End Tab  *********/
.style-2 h2 {
    color: #2A323A;
    font-size: 20px;
}
.style-2 .sort {
    float: left;
    position: relative;
    top: 0;
    z-index: 2;
	overflow: hidden;
	 clear: right;
}
.style-2 .sort ul.ui-tabs-nav {
    background: none repeat scroll 0 0 transparent;
    margin-left: 0;
    min-height: 36px;
    min-width: 132px;
    z-index: 1;
}
.style-2 .sort ul.ui-tabs-nav, .style-2 li.ui-tabs-nav-item,.style-2 li.ui-tabs-nav-item a:link, .style-2 li.ui-tabs-nav-item a:visited {
    float: none;
}

.style-2 .ui-tabs-nav li {
    background: none repeat scroll 0 0 transparent;
    border-color: transparent;
  -webkit-border-radius: 3px 0 0 3px;
     -moz-border-radius: 3px 0 0 3px;
          border-radius: 3px 0 0 3px;
    border-style: solid;
    border-width: 1px;
    color: #424242;
    float: none;
    margin: 0;
    text-align: left;
    width: 155px;
}
.style-2 .ui-tabs-nav li.ui-tabs-selected {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #CCCCCC #FFFFFF #CCCCCC #CCCCCC;
    border-right: medium none #FFFFFF;
    line-height: normal;
}
.style-2 .ui-tabs-nav li a {
    color: #2A323A;
    display: block;
    font-size: 14px;
    font-weight: normal;
    padding: 14px 15px;
    line-height: 20px;
}
.style-2 .ui-tabs-nav .ui-tabs-selected a:link, .style-2 .ui-tabs-nav .ui-tabs-selected a:visited, .style-2 .ui-tabs-nav .ui-tabs-selected a:hover, .style-2 .ui-tabs-nav .ui-tabs-selected a:active {
    color: #2A323A;
    font-weight: bold;
    line-height: 20px;
}
.style-2 .tabs-data {
  -webkit-border-radius: 4px 4px 4px 4px;
     -moz-border-radius: 4px 4px 4px 4px;
          border-radius: 4px 4px 4px 4px;
    clear: none;
    left: -1px;
    margin: 0 0 0 156px;
    min-height: 160px;
    padding: 10px 20px 20px 30px;
    top: 0;
    width: auto;
}
.style-2 .ui-tabs-panel {
    float: left;
    max-width: 100%;
}
.full .tabs-data {
    margin-left: 181px;
}
.full .ui-tabs-nav li {
    width: 180px;
}
/************* Toogle Tab  *********/

.toggle:after,.toggle:before {
    content: "";
    display: table;
    line-height: 0;
    clear: both;
}
.toggle {

}
.toggle  ul.ui-tabs-nav {
    background: none repeat scroll 0 0 transparent;
    margin-left: 0;
    min-height: 36px;
    min-width: 132px;
    z-index: 1;
}
.toggle .ui-tabs-nav li {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    clear: both;
    float: none;
    margin-bottom: 2px;
    margin-left: 0;
    margin-top: 0;
    position: relative;
    text-align: left;
}
.toggle .ui-tabs-nav li.ui-tabs-selected {
    border-color: #CCCCCC #FFFFFF #CCCCCC #CCCCCC;
    border-right: medium none #FFFFFF;
    line-height: normal;
}
.toggle .ui-tabs-nav li a {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
  -webkit-border-radius: 3px 3px 3px 3px;
     -moz-border-radius: 3px 3px 3px 3px;
          border-radius: 3px 3px 3px 3px;
    float: left;
    font-size: 17px;
    line-height: 20px;
    margin: 7px 0 0;
    min-width: 0;
    padding: 1px 4px;
    width: 15px;
}
.toggle .ui-tabs-nav li a span {
    color: #57616A;
    font-size: 17px;
    left: 0;
    line-height: 19px;
    margin-left: -4px;
}
.toggle .ui-tabs-nav li.ui-tabs-selected a, .toggle .ui-tabs-nav li.ui-tabs-selected a:hover, .toggle .ui-tabs-nav li.ui-tabs-selected a:focus {
    background: none repeat scroll 0 0 #6FB554;
    border-color: transparent;
    margin-left: 0;
	color: #FFFFFF;
}
.ui-tabs-selected .icon-plus-3:before { content: '\e07f'; } /* '?' */
.toggle .ui-tabs-nav li.ui-tabs-selected a span {
    color: #FFFFFF;
}

.toggle .ui-tabs-nav .ui-tabs-selected a:link, .toggle .ui-tabs-nav .ui-tabs-selected a:visited, .toggle .ui-tabs-nav .ui-tabs-selected a:hover, .toggle .ui-tabs-nav .ui-tabs-selected a:active {
    color: #2A323A;
    font-weight: bold;
}

.tabdata:before {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    border-color: #DDDDDD;
    border-left: 1px solid #DDDDDD;
    content: "";
    height: 10px;
    margin-left: -21px;
    position: absolute;
    top: 13px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 10px;
}

.tabdata {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
  -webkit-border-radius: 3px 3px 3px 3px;
     -moz-border-radius: 3px 3px 3px 3px;
          border-radius: 3px 3px 3px 3px;
    margin-left: 40px;
    min-height: 26px;
    overflow: inherit;
    padding: 5px 15px;
}
.ui-tabs-nav .tabdata h2 {
    color: #2A323A;
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
    margin: 0;
}
.tabdata .ui-tabs-panel{    color: #424242;}

/************* Toogle Tab  *********/
.ui-tabs-selected  .icon-arrow-right-5:before { 
    left: 0;
    position: relative;
    top: 1px;
content: '\e0ce'; } /* '?' */
.acc .tabdata:before {
    display: none;
}
.acc .tabdata {
    border: medium none;
    margin-left: 23px;
}
.acc .ui-tabs-nav li a {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
  -webkit-border-radius: 15px 15px 15px 15px;
     -moz-border-radius: 15px 15px 15px 15px;
          border-radius: 15px 15px 15px 15px;
    float: left;
    font-size: 15px;
    line-height: 20px;
    margin: 7px 0 0;
    min-width: 0;
    padding: 1px 4px;
    width: 15px;
}
.acc .ui-tabs-nav li a span {
    font-size: 15px;
    line-height: 17px;
    margin-left: -2px;
}
.acc li.ui-tabs-selected   a span {
    font-size: 15px;
    line-height: 17px;
    margin-left: -2px;
}
.toggle .ui-tabs-panel h2 {
    color: #6FB554;
    font-size: 20px;
    margin: 0;
    padding: 5px 0;
}
.tab-full .ui-tabs-nav li {
    background: none repeat scroll 0 0 #FFFFFF;
}
.tab-full .ui-tabs-nav li.ui-tabs-selected {
    background: none repeat scroll 0 0 #F3F3F3;
}
.tab-full .tabs-data {
    background: none repeat scroll 0 0 #F3F3F3;
    padding: 30px;
}
.tab-full{}